div.code {
    padding: 0 !important;
    text-shadow: none !important;
    border-radius: 8px;
}

div.code pre {
  padding: 10px !important;
}

div.buttons {
  top: -65px !important;
  right: 10px !important;
}
